.footerMain{
    background-color: black;
    display: flex;
    margin-top: 5%;
    position: relative;
    bottom: 0;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    clear: both;
    text-align: center;
    height: 10vh;
    color: white;
}

.footerMain ul{
 display: flex;
 list-style: none;

}

.footerMain ul li{
   padding: 4%;
 
  
   }

 .footerLinks{
    color: white;
    text-decoration: none;
  
   
    }

    
 .footerLinks:hover{
    color: gray;
    text-decoration: none;
  
   
    }