$fuente2: "arial";

.itemBigContainer {
    border-bottom: solid 1px black;
    padding-bottom: 2%;
    width: 70vw;
    display: inline-block;
}
.itemProductsContainer {
    margin: auto;
    width: 70vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-evenly;
    
}
.itemContainer {
    margin: 3%;
    width: 20vw;
    height: 55vh;
    text-align: left;
    color: black;
    text-decoration: none;
}

.itemContainer:hover {
    border: solid 1px darkgray;
    color: black;
    cursor: pointer;
    .buyBoton {
        display: block;
    }
}

.itemImgContainer {
    width: 100%;
    height: 35vh;
}

.itemImgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 20% 10%;
}

.itemProps {
    padding-left: 5%;
    padding-top: 2%;
}

.buyBoton {
    position: absolute;
    display: none;
    margin-top: 7.5%;
    margin-left: 7.5%;
    opacity: 0.9;
}
