
.itemCounter{
margin-top: 5%;
margin: auto;
text-align: center;
width: 30vw;


}

.buttonIcon{
    cursor: pointer;
    font-size: 3rem;
}
.buttonIcon img{
    width: 60%;
}

.buttonIcon:active{
opacity: 0.6;
}

.itemSum{
    display: flex;
    flex-direction:row ;
    justify-content: center;
}
.itemCount{
   
    
    margin: 1%;
    margin-top: 3.5%;
}