$fuente2:'arial' ;

.itemContainer{
    margin-top: 4%;
    margin: 2%;
    width: 20vw;
    text-align: left;
    
}

.itemContainer:hover{
    border: solid 1px darkgray;
    cursor: pointer;
}

.itemImgContainer{
    width: 100%;
}

.itemImgContainer img{
    width: 100%;   
}

.itemProps{
    padding-left: 5%;
    padding-top: 2%;  
    
}