@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
// @import url('./assets/fonts/candara.ttf');

// $fuente2:'candara' ;
$fuente1: 'Teko', sans-serif ;

.navbarmain{
    margin: auto;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 1%;
    border-bottom: 1px solid gray;
  }


  .logo{
    margin: auto;

}

.subtitulo{
    margin: auto;
    font-weight: lighter;
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: $fuente1;
  }

  
  .navbarmain ul{
    text-align: center;
    display: flex;
    padding-top: 4%;
    margin: auto;
    justify-content: space-evenly;
  
  
  }
  .navbarmain ul li {

    list-style: none;
  
  
  }
  .navbarmain ul li a{
      
    text-decoration: line-through;
    font-weight: lighter;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: $fuente1;
  
  
  }

  .hoverespecial:hover{
    
    text-decoration: underline;
  
  }
  .hovernormal:hover{
    
    text-decoration: overline;
  
  }

  .carritoContainer{
    display: flex;
  flex-direction:row-reverse;
  margin-right: 4%;
  

  }

  .carrito {
    position: relative;
    width: 2%;
  }


  

  
@media only screen and (max-width: 950px) {

    
    .navbarmain ul{
      padding-top: 5%;
  
  
    }
    .navbarmain ul li a{
      font-size: 1.2rem;
  
  
    }


  }
  
  @media only screen and (max-width: 500px) {


    .navbarmain ul{
      flex-direction: column;
    }
  
    .navbarmain ul li {
      padding: 15%;
    }
    .navbarmain ul li a{
      font-size: 1.2rem;
      text-decoration: none;
      font-weight: bolder;
  
  
  
    }
  
  
  }
  