// @import url('./assets/fonts/candara.ttf');

$fuente1: 'Teko', sans-serif ;
$fuente2:'Candarab' ;

.navbarmain{
    margin: auto;
    margin-bottom: 2%;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 1%;
    border-bottom: 1px solid gray;
  }


  .logo{
    margin: auto;

}


  
  .navbarmain ul{
    text-align: center;
    display: flex;
    padding-top: 4%;
    margin: auto;
    justify-content: space-evenly;
  
  
  }
  .navbarmain ul li {

    list-style: none;
  
  
  }
  .hovernormal{
      
    text-decoration: line-through;
    font-weight: lighter;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: $fuente1;
  
  
  }

  .hoverespecial{
    
    text-decoration: line-through;
    font-weight: lighter;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: $fuente1;
  
  
  }

  .hoverespecial:hover{
    
    text-decoration: underline;
    color: black;
  
  }
  .hovernormal:hover{
    
    text-decoration: overline;
    color: black;
  
  }

  .carritoContainer{
    display: flex;
  flex-direction:row-reverse;
  margin-right: 4%;
  

  }

  .carrito {
    position: relative;
    width: 2%;
  }


  

  
@media only screen and (max-width: 950px) {

    
    .navbarmain ul{
      padding-top: 5%;
  
  
    }
    .navbarmain ul li a{
      font-size: 1.2rem;
  
  
    }


  }
  
  @media only screen and (max-width: 500px) {


    .navbarmain ul{
      flex-direction: column;
    }
  
    .navbarmain ul li {
      padding: 15%;
    }
    .navbarmain ul li a{
      font-size: 1.2rem;
      text-decoration: none;
      font-weight: bolder;
  
  
  
    }
  
  
  }
  